/.clwb
/bazel-*
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# custom build
build/
main/build/

# idea
.idea/
cmake-build-debug/
*/cmake-build-debug/

#Mac

**/.DS_Store
database/*
/examples/java_controller/target/classes/com/example/App.class
/examples/java_controller/target/maven-archiver/pom.properties
/examples/java_controller/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/examples/java_controller/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/examples/java_controller/target/java-controller-1.0-SNAPSHOT.jar
/examples/java_controller/target/java-controller-1.0-SNAPSHOT-jar-with-dependencies.jar
